.container{
    width:640px;
    margin:0 auto;
}
h1{
    text-align:center;
}
.album{
    width:640px;
    height:400px;
    overflow:hidden;
}
.images{
    position:relative;
    display:flex;
    height:500px;
    transition:transform 0.5s;
}
img{
    width:640px;
    height:500px;
}

button, button:active, button:focus{
    width:100px;
    height:30px;
    border:none;
    color:white;
    background:teal;
    outline:none;
}
button:hover{
    background:turquoise;
}
button:disabled{
    background:gray;
}
.prev{
    float:left;
}
.next{
    float:right;
}